@model WEBEVENTOS.Models.Usuario

@{
    ViewData["Title"] = "Detalle de Usuario";
}

<h1>Usuario</h1>

<div>
    <h4>Detalles Venta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cedula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cedula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.edad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.edad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.foto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.foto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.rol)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.rol)
        </dd>
        
    </dl>
</div>
<div>
    <button type="button" class="btn btn-dark">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z" />
        </svg>
        <a asp-action="Index">Volver</a>
    </button>
</div>
